version: '29.1.5'

services:
  db:
    image: postgres:latest
    container_name: fastapi_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fastapi_db
    ports:
      - "5432:5432"
  app:
    build:
      context: .
    container_name: fastapi_app
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/fastapi_db